body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.gis {
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.marker-cluster-unknown {
    background-color: rgba(128, 128, 128, 0.6);
    color: white;
}

.marker-cluster-unknown div {
    background-color: rgba(128, 128, 128, 0.6);
    color: white;
}

.marker-cluster-unverified {
    background-color: rgba(0, 0, 255, 0.6);
    color: white;
}

.marker-cluster-unverified div {
    background-color: rgba(0, 0, 255, 0.6);
    color: white;
}

.marker-cluster-verified {
    background-color: rgba(0, 128, 0, 0.6);
    color: white;
}

.marker-cluster-verified div {
    background-color: rgba(0, 128, 0, 0.6);
    color: white;
}

.marker-cluster-partial {
    background-color: rgba(255, 162, 0, 0.6);
    color: white;
}

.marker-cluster-partial div {
    background-color: rgba(255, 162, 0, 0.6);
    color: white;
}